@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "LINESeedKR-Bd";
  font-size: 16px;
}

ul {
  display: inline-block;
  list-style: none;
}

li {
  margin-left: 15px;
  float: left;
}

li > a {
  font-size: 0.9rem;
  font-weight: lighter;
}

img {
  width: 100%;
  height: auto;
}

.main {
  margin-top: 5vw;
}

.main .container {
  width: 70%;
}

.wrap {
  min-width: 1340px;
}

.container {
  margin: 0 auto;
}

.nav {
  z-index: 999;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 5vw;
  position: fixed;
  background-color: #dfdad6;
}

.nav .container {
  height: 100%;
  width: 70%;
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  width: 5%;
  height: 80%;
  background-size: cover;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-menu > .btn {
  cursor: pointer;
  margin-right: 20px;
}

.btn {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  padding: 2px 10px;
}

.btn.start {
  padding: 5px 14px;
  font-size: 22px;
  color: rgb(255, 255, 255);
  background-color: #383838;
}

.main {
  /* height: 2000px; */
}

.footer {
  color: #ffffff;
  background-color: #383838;
  padding: 26px 16px 100px;
}

.footer-top {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}

.footer-top > p {
  margin-bottom: 5px;
}

.footer-name {
  font-size: 32px;
  color: #dfdad6;
}

.footer-line {
  border: 1px solid rgba(134, 127, 115, 0.568);
  margin-bottom: 8px;
}

.footer .container {
  height: 100%;
  width: 70%;
}

.rules {
  justify-content: space-between;
  display: flex;
  margin-bottom: 15px;
}
