h2 {
  font-size: 36px;
}

.password-wrap {
  margin: 250px auto 100px;
  width: 700px;
  height: 500px;
  text-align: center;
}

.msg-box {
  background-color: rgb(238, 238, 238);
  width: 80%;
  margin: 10px auto 20px;
  padding: 10px;
}

.waring-msg {
  margin-top: 10px;
  margin-bottom: 20px;
}

.password-ec {
  margin-top: 8px;
  display: flex;
  justify-content: end;
  margin-right: 200px;
}

.password-ec input {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10px;
  opacity: 0.5;
}

.password-ec input:focus {
  opacity: 1;
}

.custom-label {
  margin-right: 15px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.password-btnbox {
  margin-top: 16px;
}

.password-btnbox a {
  margin: 0 6px;
}

.password-btnbox a:hover {
  cursor: pointer;
}

input {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
}
