.quiz-wrap {
  margin: 150px auto 50px;
  width: 1000px;
  text-align: center;
}

.quiz-category {
  position: relative;
  width: 100%;
  height: 100px;
  border: 3px solid #383838;
  border-radius: 40px;
}

.quiz-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  /* height: 500px; */
  border-radius: 40px;
  border: 3px solid #383838;
  background-image: url("/img/bg.jpg");
}

#back-arrow {
  position: absolute;
  width: 32px;
  height: 48px;
  left: 20px;
  margin-top: 2%;
  cursor: pointer;
}

.report {
  cursor: pointer;
  position: absolute;
  width: 72px;
  height: 72px;
  right: 30px;
  top: 25px;
}

.report img {
  width: 36px;
  height: 36px;
}

.quiz-base {
  margin: 70px 30px 30px 30px;
}

h1 {
  font-size: 40px;
  margin-top: 25px;
}

.quiz-title {
  padding: 10px;
}

.quiz-content {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

.quiz {
  cursor: pointer;
  margin: 15px auto;
}

h2 {
  padding: 7px 30px;
  font-size: 24px;
  border: 2px solid #383838;
  border-radius: 30px;
}

.xp-content {
  margin: 20px auto;
  width: 400px;
}

.xp-text {
  text-align: right;
}

.xp-bar {
  height: 40px;
  border: 2px solid #383838;
}

.xp-bar-now {
  margin-top: 2px;
  margin-left: 2px;
  background-color: #383838;
  height: 32px;
  width: calc(9.9% * 0);
}

.selected {
  background-color: #383838;
  color: rgb(255, 255, 255);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 3px solid #383838;

  font-size: 1.5rem;
  text-align: left;
}

button {
  cursor: pointer;
}

.modal_body > button {
  font-size: 1.3rem;
}

.btn-wrap > button {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto 50px auto;
  background-color: rgb(51, 51, 51);
  color: white;
}

input {
  margin: 20px auto;
  width: 300px;
  height: 40px;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 1.2rem;
}

.quiz-content > h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.crossword-base {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

table {
  margin: 1rem;
  border-collapse: collapse;
}

td {
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border: 1px solid #c7c7c7;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

td.emptyCell {
  background-color: rgb(146, 146, 146);
}

.hiddenText {
  visibility: hidden;
}

.crossword-input {
  width: 50%;
}

.crossword-explain {
  display: grid;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.crossword-explain h3 {
  font-size: 24px;
  color: #000000;
  margin: 10px;
}

.crossword-explain li {
  list-style-type: none;
  list-style: none;
  margin-bottom: 5px;
  font-size: 16px;
  color: #383838;
}

/* #horizontalExplanations {
  margin-bottom: 20px;
} */

.word-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  color: rgb(231, 0, 0);
  line-height: 1em;
}

.highlightRight {
  background-color: rgb(255, 255, 78);
}

.highlightBottom {
  background-color: rgb(138, 138, 255);
}

.highlightStayRight {
  background-color: rgb(255, 255, 78);
}

.highlightStayBottom {
  background-color: rgb(138, 138, 255);
}

li.highlightExplainHorizontal {
  background-color: rgb(255, 255, 78);
}
li.highlightExplainVertical {
  background-color: rgb(138, 138, 255);
}

li.highlightExplainStayHorizontal {
  background-color: rgb(255, 255, 78);
}
li.highlightExplainStayVertical {
  background-color: rgb(138, 138, 255);
}

.btn-box {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btn-box > .btn {
  cursor: pointer;
  margin-right: 20px;
  font-size: 20px;
  color: #f9f9f9;
  background-color: #383838;
  border-radius: 10rem;
  padding: 2px 10px;
}

.hint-box {
  display: flex;
  font-size: 30px;
  margin: 20px auto;
  justify-content: center;
  flex-direction: row;
}

.hint-text {
  font-size: 24px;
  width: 150px;
  height: 100px;
  line-height: 100px;
  border: #383838 solid 2px;
}

.hint {
  font-size: 30px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  border: #383838 solid 2px;
}
