.ranking-wrap {
  margin: 100px auto 50px;
  width: 1000px;
  text-align: center;
}

.ranking-title {
  position: relative;
  width: 100%;
}

h1 {
  font-size: 40px;
}

.ranking-content {
  margin: 5px auto 30px;
  width: 900px;
  height: 750px;
  background-color: #ebebeb;
  border-radius: 15px;
  overflow: auto;
}

.ranking-btn-wrap {
  margin: 0 auto 5px;
  width: 900px;
  margin-bottom: 15px;
  align-items: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.ranking-btn-wrap > div {
  font-size: 16px;
  background-color: #4d4949;
  border-radius: 10rem;
  padding: 5px 15px;
  color: #ebebeb;
  margin-left: 10px;
}

.ranking-btn-wrap > div:hover {
  cursor: pointer;
}

.rank,
.user,
.level-xp,
.battle {
  display: inline-block;
  padding: 15px;
}

.rank {
  width: 18%;
}

.user {
  width: 40%;
  cursor: pointer;
}

.level-xp {
  width: 20%;
}

.battle {
  width: 18%
} 

.idx-wrap,
.user-wrap {
  width: 95%;
  margin: auto;
}

.idx-wrap {
  margin-top: 10px;
  margin-bottom: 5px;
}

.idx-wrap .rank,
.idx-wrap .user,
.idx-wrap .level-xp,
.idx-wrap .battle {
  font-size: 1.4rem;
}

.user-wrap .rank,
.user-wrap .user,
.user-wrap .level-xp,
.user-wrap .battle {
  font-size: 1.2rem;
}

.user-wrap {
  margin-bottom: 10px;
  background-color: white;
}

.btn-wrap {
  display: flex;
  justify-content: space-around;
}

#left-btn,
#right-btn {
  width: 80px;
  height: 80px;
  background-image: url("../img/rank-arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#right-btn {
  transform: scaleX(-1);
}

#waiting {
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 90%;
  background-color: white;
  font-size: 1.5rem;
}